body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  background-color: #1e1e1e;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote {
  margin: 0;
  padding: 0;
}

.content-section {
  box-sizing: border-box;
  width: 100%;
  max-width: 360px;
  min-height: 100px;
  margin: auto;
}

.content-section_theme_dark {
  color: #f5f5f5;
  background-color: #131313;
}

.content-section_theme_bright {
  color: #131313;
  background-color: #fee42a;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px 20px;
}

.cover {
  padding: 7px 24px 32px 20px;
  background-image: url(../images/cover.svg);
  background-repeat: no-repeat;
  background-size: 95% auto;
  background-position: right center;
}

.intro {
  padding: 0 20px 38px;
}

.reasons {
  padding: 40px 20px;

}

.how-to {
  padding: 40px 20px 60px;
}

.header_logo {
  display: block;
  width: 78px;
}

.header_menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;
}

.header_menu-item_active .header_menu-link {
  text-decoration: none;
}

.header_menu-link {
  color: #f5f5f5;
  font-size: 16px;
  line-height: 19.2px;
}

.cover_title {
  width: 100%;
  color: #fff;
  font-family: 'EB Garamond', serif;
  font-size: 72px;
  font-weight: 400;
  line-height: 1;
}

.accent-span {
  display: block;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.intro_heading {
  display: flex;
  justify-content: space-between; 
  gap: 22px;
  font-size: 16px;
  color: #ccc;
}

.intro_title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
}

.intro_date {
  font-size: 16px;
  line-height: 1.2;
  white-space: nowrap;
}

.intro_main-text {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 16px;
  line-height: 21.6px;
}

.content-section_subtitle {
  font-family: 'EB Garamond', serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.15;
  margin-bottom: 32px;
}

.content-section_introduction {
  font-size: 20px;
  line-height: 27px;
  margin: 0 0 32px;
}
.content-section_list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 0 0 16px;
}

.content-section_list-accent {
  font-weight: 700;
  font-size: 16px;
  line-height: 21.6px;
}

.card-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 30px;
}

.card_theme_dark {
  background-color: #343434;
  color: #f5f5f5;
}

.card_theme_bright {
  background-color: #fee42a;
  color: #131313;
}

.card_author_photo {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin: 20px 0 8px 20px;
}

.card_author-name {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.35;
  margin: 0 0 8px 20px;
}

.card_content {
  padding: 0 20px;
}

.card_title {
  font-family: 'EB Garamond', serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.35;
  margin-bottom: 8px;
}

.card_theme_bright_title {
  margin-top: 20px;
}

.card_text {
  font-size: 16px;
  line-height: 21.6px;
  margin-bottom: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #fee42a;
  padding: 20px;
}

.footer_copy {
  color: #f5f5f5;
  font-size: 16px;
  line-height: 1.35;
}

.footer_links {
  display: flex;
  gap: 16px;
  list-style: none;
}

.footer_links a {
  font-size: 14px;
  text-decoration: none;
  color: #f5f5f5;
}
